body { /* All styles for the body elements. */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
.container { /* All styles for the class container. */
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1, h2 { /* All styles for the heading 1 and 2. */
    color: #444;
}
code { /* Changes the background, padding, and borders of the code snippets. */
    background-color: #f5f5f5;
    padding: 2px 4px;
    border-radius: 3px;
}
pre { /* Applies style to the <pre> tags. */
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
pre code { /* Applies style for the <code> within only the <pre> tag. */
    display: block;
    white-space: pre;
}
.css p { /* These three CSS style properties apply style to the css paragraphs. */
    margin-bottom: 20px;
}
.css p:first-child {
    margin-top: 0;
}
.css p:last-child {
    margin-bottom: 0;
}
